@page "/error"
@using System.Diagnostics
@inject Microsoft.Extensions.Localization.IStringLocalizer<Error> L

<PageTitle>@L["Error"]</PageTitle>

<main class="container mt-4">
    <h1 class="text-danger">@L["Error."]</h1>
    <h2 class="text-danger">@L["An error occurred while processing your request."]</h2>

    @if (ShowRequestId)
    {
        <p>
            <strong>@L["Request ID:"]</strong> <code>@RequestId</code>
        </p>
    }

</main>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
