@rendermode InteractiveServer
@layout SimpleLayout
@page "/login"
@using Beagl.WebApp.Components.Layout
@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> L
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Mvc

<PageTitle>@L["Please sign in"]</PageTitle>

<main class="form-signin w-100 m-auto">
    <EditForm Model="@loginModel" OnSubmit="HandlePost" FormName="loginForm">
        <DataAnnotationsValidator />
        <img class="mb-4 d-block mx-auto" src="images/logo-square.svg" alt="Logo" width="128">
        <h1 class="h3 mb-3 fw-normal text-center">@L["Please sign in"]</h1>
        <div class="form-floating mb-2">
            <InputText type="email" class="form-control" id="floatingInput" @bind-Value="loginModel.Email" name="Email" placeholder="name@example.com" />
            <label for="floatingInput">@L["Email address"]</label>
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>
        <div class="form-floating mb-2">
            <InputText type="password" class="form-control" id="floatingPassword" @bind-Value="loginModel.Password" name="Password" placeholder="Password" />
            <label for="floatingPassword">@L["Password"]</label>
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>
        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault" name="RememberMe">
            <label class="form-check-label" for="checkDefault">
                @L["Remember me"]
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">@L["Sign in"]</button>
        <p class="mt-5 mb-3 text-body-secondary">@L["All rights reserved © Service animalier Pierre-De-Saurel et régions 2024"]</p>
    </EditForm>
</main>

@code {

    private LoginModel loginModel { get; set; } = new();

    public void HandlePost()
    {
        if (loginModel != null)
        {
            return;
        }
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Email is required.")]
        [EmailAddress(ErrorMessage = "Invalid email address.")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "Password is required.")]
        public string Password { get; set; } = string.Empty;
    }
}
